.c-btn {
  cursor: pointer;
  display: block;
  background: $color_main;
  border-radius: $radius_s;
  box-shadow: 5px 5px 10px #ccc;
  box-sizing: border-box;
  color: white;
  font-size: $font-size_m;
  line-height: 50px;
  text-align: center;
  width: 150px;
  transition: $time_s;
  @include mq() {
    line-height: 40px;
  }
  &:hover {
    color: white;
    transform: scale(1.05);
  }
  &--em {
    background: $color_sub1;
  }
  &--full {
    width: 100%;
    &:hover {
      transform: scale(1.03);
    }
  }
  &--hero {
    box-shadow: none;
    font-size: $font-size_l;
    width: 200px;
    @include mq() {
      font-size: $font-size_default;
    }
  }
  &--band {
    border: 2px solid white;
    box-shadow: none;
    font-size: $font-size_l;
    &:hover {
      transform: none;
      background: white;
      color: $color_main;
    }
    @include mq() {
      margin: 0 auto;
      font-size: $font-size_default;
    }
  }
  &__container {
    margin-bottom: $space_3l;
    @include mq() {
      margin-bottom: $space_default;
    }
    &--right {
      display: flex;
      justify-content: flex-end;
    }
  }
}