.c-card {
  background: white;
  border-radius: $radius_s;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 280px;
  margin-right: $space_3l;
  &:last-child {
    margin-right: 0;
  }
  padding: $space_default;
  transition: $time_s;
  width: calc(25% - #{$space_3l});
  @include mq('md') {
    margin-right: $space_default;
    &:nth-child(even) {
      margin-right: 0;
    }
    margin-bottom: $space_default;
    &:nth-child(3), &:nth-child(4) {
      margin-bottom: 0;
    }
    width: calc(50% - #{$space_default});
  }
  @include mq('sm') {
    height: 230px;
    margin-bottom: $space_default;
    &:nth-child(3), &:nth-child(4) {
      margin-bottom: $space_default;
    }
    &:last-child {
      margin-bottom: 0;
    }
    margin-right: 0;
    width: 100%;
  }
  &:hover {
    box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.25);
  }
  &__title {
    font-size: $font-size_l;
    margin-bottom: $space_l;
    height: 60px;
    overflow: hidden;
    @include mq() {
      font-size: $font-size_default;
      margin-bottom: $space_default;
      height: 50px;
    }
  }
  &__body {
    font-size: $font-size_m;
    height: 160px;
    overflow: hidden;
    @include mq() {
      font-size: $font-size_s;
      height: 110px;
    }
  }
  &__category, &__price {
    margin-bottom: $space_m;
    @include mq() {
      margin-bottom: $space_s;
    }
  }
}