.c-comment {
  background: $color_bg;
  border-radius: 10px;
  padding: $space_s;
  margin-bottom: $space_3l;
  &:last-child {
    margin-bottom: 0;
  }
  @include mq() {
    margin-bottom: $space_default;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space_s;
  }
  &__name {
    @include mq() {
      font-size: $font-size_m;
    }
  }
  &__body {
    display: flex;
  }
  &__icon {
    flex: 0 1 auto;
    margin-right: $space_m;
    text-align: center;
    @include mq() {
      margin-right: $space_s;
    }
  }
  &__img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 $space_s $space_s $space_s;
  }
  &__tag {
    color: white;
    display: inline-block;
    font-size: $font-size_s;
    background: $color_main;
    padding: 5px;
    border-radius: $radius_s;
  }
  &__main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  &__content {
    flex-grow: 1;
    font-size: $font-size_m;
    margin-bottom: $space_m;
  }
  &__date {
    font-size: $font-size_s;
    text-align: right;
  }
}