.c-comment {
  &__list {
    background: white;
    padding: 0 $space_3l;
    // margin-bottom: $space_3l;
    @include mq() {
      padding: $space_default;
    }
  }
  background: $color_bg;
  border-radius: 10px;
  margin-bottom: $space_3l;
  &:last-child {
    margin-bottom: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: $space_s;
  }
  &__name {
    @include mq() {
      font-size: $font-size_m;
    }
  }
  &__body {
    display: flex;
    padding: $space_s;
  }
  &__icon {
    flex: 0 1 auto;
    margin-right: $space_m;
    text-align: center;
    @include mq() {
    }
  }
  &__img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  &__tag {
    color: white;
    display: inline-block;
    font-size: $font-size_s;
    background: $color_main;
    padding: 5px;
    border-radius: $radius_s;
  }
  &__main {
    flex: 1 1 auto;
    // padding: $space_m;
    @include mq() {
      // padding: $space_s;
    }
  }
  &__content {
    font-size: $font-size_m;
    margin-bottom: $space_m;
  }
  &__date {
    font-size: $font-size_s;
    text-align: right;
  }
}