.c-menu {
  display: flex;
  align-items: center;
  width: 100%;
  @include mq('md') {
    display: block;
  }
  &--side {
    display: block;
  }
  &__tab {
    // cursor: pointer;
    background: #ddd;
    font-size: $font-size_m;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: $space_m;
    // position: relative;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   right: 20px;
    //   transform: translateY(-50%);
    //   width: 15px;
    //   height: 2px;
    //   background: $color_sub2;
    // }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   right: 20px;
    //   transform: translateY(-50%) rotate(90deg);
    //   width: 15px;
    //   height: 2px;
    //   background: $color_sub2;
    // }
  }
  &__item {
    display: block;
    margin-right: $space_s;
    &:last-child {
      margin-right: 0;
    }
    &--side {
      background: white;
      border-bottom: 1px solid $color_bg;
      margin-right: 0;
    }
  }
  &__link {
    border-bottom: 2px solid white;
    display: block;
    font-size: $font-size_m;
    padding: $space_s 0;
    transition: $time_s;
    @include mq() {
      font-size: $font-size_s;
    }
    &:hover {
      border-bottom: 2px solid $color_main;
    }
    &--side {
      border: none;
      padding: $space_m;
      &:hover {
        border: none;
      }
    }
  }
}