.c-message {
  width: 70%;
  margin-bottom: $space_default;
  &:last-child {
    margin-bottom: 0;
  }
  @include mq('md') {
    width: 80%;
  }
  @include mq('sm') {
    width: 90%;
    margin-bottom: $space_s;
  }
  &--other {
    margin-left: 0;
    margin-right: auto;
  }
  &--myself {
    margin-left: auto;
    margin-right: 0;
  }
  &__content {
    padding: $space_default $space_s;
    margin-bottom: $space_s;
    &--other {
      background: rgba($color: $color_main, $alpha: 0.3);
      border-radius: 15px 15px 15px 0;
    }
    &--myself {
      background: rgba($color: $color_sub1, $alpha: 0.3);
      border-radius: 15px 15px 0 15px;
    }
    @include mq() {
      font-size: $font-size_m;
      padding: $space_m $space_s;
    }
  }
  &__date {
    font-size: $font-size_m;
    &--myself {
      text-align: right;
    }
    @include mq() {
      font-size: $font-size_s;
    }
  }
}