.c-mypage {
  &__title {
    color: $color_main;
    background: white;
    font-size: $font-size_2l;
    font-weight: bold;
    margin-bottom: $space_3l;
    padding: $space_default $space_3l;
    @include mq() {
      font-size: $font-size_l;
      margin-bottom: $space_l;
      padding: $space_m $space_default;
    }
  }
  &__contents {
    width: 100%;
  }
  &__text {
    margin-bottom: $space_default;
    @include mq() {
      font-size: $font-size_m;
      margin-bottom: $space_m;
    }
  }
}