.c-pagination {
  margin-top: $space_3l;
  text-align: center;
  @include mq() {
    margin-top: $space_default;
  }
  &__item {
    display: inline-block;
    background: white;
    margin: 0;
    color: $color_main;
    border: 1px solid #eee;
    &.isActive {
      color: white;
      background: $color_main;
      &:hover {
        color: white;
        background: $color_main;
        opacity: 0.8;
      }
    }
  }
  &__link {
    display: block;
    padding: $space_s;
  }
}