.c-sideMenu {
  width: 100%;
  margin-bottom: $space_3l;
  &:last-child {
    margin-bottom: 0;
  }
  &__item {
    background: white;
    border-bottom: 1px solid $color_bg;
    font-size: $font-size_m;
    display: block;
    padding: $space_m;
  }
}