.c-spMenu {
  display: none;
  @include mq('md') {
    display: block;
  }
  &__container {
    display: none;
    @include mq('md') {
      display: block;
    }
  }
  &__item {
    display: block;
    margin: 0 $space_3l;
    text-align: center;
    @include mq() {
      margin: 0 $space_default;
    }
  }
  &__link {
    display: inline-block;
    padding: $space_s 0;
    transition: $time_s;
    @include mq() {
      font-size: $font-size_s;
    }
  }
}
