.c-workList {
  width: 100%;
  margin-bottom: $space_3l;
  @include mq() {
    margin-bottom: $space_default;
  }
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: white;
    margin-bottom: $space_3l;
    padding: $space_default;
    @include mq() {
      margin-bottom: $space_default;
    }
  }
  &__title {
    color: $color_main;
    font-size: $font-size_2l;
    font-weight: bold;
    @include mq() {
      font-size: $font-size_l;
    }
  }
  &__info {
    @include mq() {
      font-size: $font-size_s;
    }
  }
}