.p-hero {
  box-sizing: border-box;
  background-image: url('../img/top-img-2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode: lighten;
  width: 100%;
  height: 500px;
  position: relative;
  padding: $space_default;
  @include mq('md') {
    height: 450px;
  }
  @include mq('sm') {
    height: 400px;
    padding: $space_s;
  }
  &__text {
    text-align: center;
    margin-bottom: $space_m;
    &--em {
      font-size: $font-size_2l;
      & > span {
        font-size: 40px;
        font-weight: bold;
      }
    }
    &--right {
      position: relative;
      display: inline-block;
      margin: $space_m;
      padding: 0 $space_s;
      box-sizing: border-box;
      border: 2px solid #555;
      background: white;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -24px;
        margin-top: -12px;
        border: 12px solid transparent;
        border-right: 12px solid white;
        z-index: 2;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: -30px;
        border: 14px solid transparent;
        border-right: 14px solid #555;
        z-index: 1;
      }
    }
  }
  &__br {
    display: none;
    @include mq() {
      display: block;
    }
  }
}
