.p-hero {
  box-sizing: border-box;
  background-image: url('/images/top-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  position: relative;
  padding: $space_default;
  @include mq('md') {
    height: 450px;
  }
  @include mq('sm') {
    height: 400px;
    padding: $space_s;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: $space_3l;
    background: rgba($color: $color_bg, $alpha: 0.7);
    @include mq('md') {
      width: 80%;
      padding: $space_default;
    }
  }
  &__text {
    text-align: center;
    font-size: $font-size_m;
    margin-bottom: $space_m;
    &--em {
      font-family: $font-family_em;
      font-size: 28px;
      margin: $space_2l 0;
      @include mq() {
        font-size: 20px;
        margin: $space_l 0;
      }
      & > span {
        font-size: $font-size_em;
        font-weight: bold;
      }
    }
  }
}
