/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background: #f5f5f5;
  color: #333;
  font-size: 16px;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #51a1a2;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  vertical-align: bottom;
}

input,
textarea {
  border: none;
  margin: 0;
  padding: 0;
}

.l-header {
  box-sizing: border-box;
  background: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 425px) {
  .l-header {
    padding: 0 20px;
  }
}

.l-header--left {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .l-header--left {
    width: 100%;
  }
}

.l-header__title {
  font-size: 40px;
  margin-right: 20px;
}

.l-header__title:hover {
  color: #333;
}

@media screen and (max-width: 768px) {
  .l-header__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 425px) {
  .l-header__title {
    font-size: 24px;
    margin-right: 10px;
  }
}

.l-main {
  margin-top: 60px;
}

.l-band {
  background: #51a1a2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .l-nav {
    display: block;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 60px;
    right: -70vw;
    height: 100vh;
    width: 70vw;
    transition: 0.6s;
    z-index: 2;
  }

  .l-nav.active {
    transform: translateX(-100%);
  }
}

.l-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

@media screen and (max-width: 425px) {
  .l-container {
    padding: 20px;
  }
}

.l-container--withSide {
  display: flex;
}

@media screen and (max-width: 768px) {
  .l-container--withSide {
    display: block;
  }
}

.l-container__header {
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .l-container__header {
    margin-bottom: 30px;
  }
}

.l-container__title {
  color: #51a1a2;
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .l-container__title {
    font-size: 24px;
  }
}

.l-container__body {
  width: 100%;
  margin-bottom: 40px;
}

.l-container__body--withSide {
  width: 75%;
  margin-left: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .l-container__body--withSide {
    width: 100%;
    margin-left: 0;
  }
}

.l-container__body--form {
  max-width: 580px;
  margin: 0 auto;
}

.l-container__body--1column {
  max-width: 720px;
  margin: 0 auto;
  background: white;
}

.l-footer {
  background: #707070;
  color: white;
  min-height: 100px;
}

.l-footer__body {
  padding: 40px;
  text-align: center;
}

.l-footer__text {
  font-size: 12px;
}

.l-sidebar {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .l-sidebar {
    width: 100%;
    display: none;
  }
}

.c-btn {
  display: block;
  background: #51a1a2;
  border-radius: 4px;
  box-shadow: 5px 5px 10px #ccc;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  width: 150px;
  transition: 0.3s;
}

.c-btn:hover {
  cursor: pointer;
  color: white;
  opacity: 0.8;
  transform: scale(1.05);
}

.c-btn__container {
  display: flex;
  justify-content: flex-end;
}

.c-btn--em {
  background: #fa5858;
}

.c-btn--full {
  width: 100%;
}

.c-btn--full:hover {
  transform: scale(1.03);
}

.c-btn--band {
  border: 2px solid white;
  box-shadow: none;
  font-size: 20px;
}

.c-btn--band:hover {
  transform: none;
  background: white;
  color: #51a1a2;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .c-btn--band {
    margin: 0 auto;
  }
}

.c-btn--hero {
  box-shadow: none;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}

.c-btn--hero:hover {
  opacity: 1;
}

.c-card {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 40px;
  margin-right: 40px;
  padding: 20px;
  transition: 0.3s;
  width: calc(25% - 40px);
}

.c-card:nth-child(4n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .c-card {
    width: calc(50% - 40px);
  }

  .c-card:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .c-card {
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: calc(50% - 20px);
  }

  .c-card:nth-child(even) {
    margin-right: 0;
  }
}

.c-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.c-card--lg {
  width: calc(50% - 40px);
  margin-right: 40px;
}

.c-card--lg:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .c-card--lg {
    width: 100%;
    margin-right: 0;
  }
}

.c-card__img {
  display: block;
  width: 60px;
  margin: 0 auto 20px auto;
}

@media screen and (max-width: 425px) {
  .c-card__img {
    width: 40px;
    margin: 0 auto 10px auto;
  }
}

.c-card__title {
  text-align: center;
}

@media screen and (max-width: 425px) {
  .c-card__title {
    font-size: 14px;
  }
}

.c-card__title--lg {
  border-bottom: 2px solid #51a1a2;
  font-size: 20px;
  margin-bottom: 25px;
}

@media screen and (max-width: 425px) {
  .c-card__title--lg {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.c-card__text {
  font-size: 14px;
  margin-bottom: 15px;
}

.c-card__text > span {
  color: #fa5858;
  font-weight: bold;
  font-size: 20px;
}

.c-cardList {
  margin: 40px 0;
}

@media screen and (max-width: 425px) {
  .c-cardList {
    margin: 20px 0;
  }
}

.c-cardList__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .c-cardList__header {
    margin-bottom: 25px;
  }
}

.c-cardList__title {
  font-size: 24px;
}

@media screen and (max-width: 425px) {
  .c-cardList__title {
    font-size: 20px;
  }
}

.c-cardList__link {
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  .c-cardList__link {
    font-size: 12px;
  }
}

.c-cardList__body {
  display: flex;
  flex-wrap: wrap;
  margin-right: -40px;
}

@media screen and (max-width: 425px) {
  .c-cardList__body {
    margin-right: -20px;
  }
}

.c-cardList__body--lg {
  margin-right: -40px;
}

@media screen and (max-width: 768px) {
  .c-cardList__body--lg {
    margin-right: 0;
  }
}

.c-comment {
  background: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 40px;
}

.c-comment__list {
  background: white;
  padding: 0 40px;
}

@media screen and (max-width: 425px) {
  .c-comment__list {
    padding: 20px;
  }
}

.c-comment:last-child {
  margin-bottom: 0;
}

.c-comment__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .c-comment__name {
    font-size: 14px;
  }
}

.c-comment__body {
  display: flex;
  padding: 10px;
}

.c-comment__icon {
  flex: 0 1 auto;
  margin-right: 15px;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .c-comment__icon {
    margin-right: 10px;
  }
}

.c-comment__img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 10px 10px 10px;
}

.c-comment__tag {
  color: white;
  display: inline-block;
  font-size: 12px;
  background: #51a1a2;
  padding: 5px;
  border-radius: 4px;
}

.c-comment__main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.c-comment__content {
  flex-grow: 1;
  font-size: 14px;
  margin-bottom: 15px;
}

.c-comment__date {
  font-size: 12px;
  text-align: right;
}

.c-flatBtn {
  display: block;
  font-size: 14px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #707070;
  border-radius: 4px;
  transition: 0.3s;
}

.c-flatBtn__container--right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 40px;
}

@media screen and (max-width: 425px) {
  .c-flatBtn__container--right {
    padding: 15px 20px;
  }
}

.c-flatBtn:last-child {
  margin-right: 0;
}

.c-flatBtn:hover {
  cursor: pointer;
  color: white;
  border: 1px solid #fa5858;
  background: #fa5858;
}

@media screen and (max-width: 425px) {
  .c-flatBtn {
    font-size: 12px;
  }
}

.c-form {
  background: white;
  padding: 40px;
}

@media screen and (max-width: 425px) {
  .c-form {
    padding: 20px;
  }
}

.c-form--side {
  background: white;
  padding: 20px;
}

.c-form--message {
  padding: 0;
}

.c-form__group {
  margin-bottom: 40px;
}

@media screen and (max-width: 425px) {
  .c-form__group {
    margin-bottom: 25px;
  }
}

.c-form__group--price {
  display: flex;
  align-items: flex-end;
}

.c-form__group--drop {
  box-sizing: border-box;
  display: block;
  font-size: 12px;
  background: #f5f5f5;
  height: 150px;
  line-height: 150px;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 150px;
}

.c-form__group--sm {
  margin-bottom: 20px;
}

.c-form__label {
  display: inline-block;
}

.c-form__label--radio {
  display: flex;
  font-size: 14px;
}

.c-form__label--back {
  display: block;
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  .c-form__label {
    font-size: 14px;
  }
}

.c-form__input,
.c-form__textarea,
.c-form__select {
  box-sizing: border-box;
  border: 1px solid #707070;
  border-radius: 4px;
  display: block;
  font-size: 16px;
  height: 50px;
  padding: 10px;
  width: 100%;
}

.c-form__input.is-invalid,
.c-form__textarea.is-invalid,
.c-form__select.is-invalid {
  border: 1px solid red;
}

@media screen and (max-width: 425px) {
  .c-form__input,
  .c-form__textarea,
  .c-form__select {
    font-size: 14px;
  }
}

.c-form__input--price {
  width: 30%;
}

.c-form__textarea {
  height: 200px;
}

.c-form__textarea--message {
  height: 80px;
}

@media screen and (max-width: 425px) {
  .c-form__textarea--message {
    height: 40px;
  }
}

.c-form__radio {
  width: 20px;
  height: 20px;
}

.c-form__select {
  color: #333;
  background: #f5f5f5;
  font-size: 14px;
}

.c-form__select--price {
  margin-bottom: 10px;
}

.c-form__file {
  height: 150px;
  width: 150px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.c-form__price {
  margin: 0 10px;
  font-size: 14px;
}

.c-form__link {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: right;
}

.c-form__link:last-child {
  margin-bottom: 0;
}

.c-form__error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.c-form__text {
  font-size: 14px;
  margin-bottom: 15px;
}

@media screen and (max-width: 425px) {
  .c-form__text {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.c-form__sample {
  border-radius: 4px;
  background: rgba(81, 161, 162, 0.15);
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .c-form__sample {
    font-size: 12px;
  }
}

.c-mypage__title {
  color: #51a1a2;
  background: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 20px 40px;
}

@media screen and (max-width: 425px) {
  .c-mypage__title {
    font-size: 20px;
    margin-bottom: 25px;
    padding: 15px 20px;
  }
}

.c-mypage__contents {
  width: 100%;
}

.c-mypage__text {
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .c-mypage__text {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.c-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .c-menu {
    display: block;
  }
}

.c-menu--side {
  display: block;
}

.c-menu__tab {
  background: #ddd;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 15px;
}

.c-menu__item {
  display: block;
  margin-right: 10px;
}

.c-menu__item:last-child {
  margin-right: 0;
}

.c-menu__item--side {
  background: white;
  border-bottom: 1px solid #f5f5f5;
  margin-right: 0;
}

.c-menu__link {
  border-bottom: 2px solid white;
  display: block;
  font-size: 14px;
  padding: 10px 0;
  transition: 0.3s;
}

@media screen and (max-width: 425px) {
  .c-menu__link {
    font-size: 12px;
  }
}

.c-menu__link:hover {
  border-bottom: 2px solid #51a1a2;
}

.c-menu__link--side {
  border: none;
  padding: 15px;
}

.c-menu__link--side:hover {
  border: none;
}

.c-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .c-nav {
    display: none;
  }
}

.c-nav--sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .c-nav--sp {
    display: block;
  }
}

.c-nav__item {
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  transition: 0.3s;
  min-width: 80px;
}

.c-nav__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .c-nav__item {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.c-nav__link {
  display: block;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  height: 40px;
  transition: 0.3s;
}

.c-nav__link:hover {
  border-bottom: 2px solid #51a1a2;
}

@media screen and (max-width: 768px) {
  .c-nav__link {
    border: none;
  }

  .c-nav__link:hover {
    border: none;
  }
}

.c-search {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  position: relative;
}

@media screen and (max-width: 425px) {
  .c-search {
    margin-right: 10px;
  }
}

.c-search__input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .c-search__input {
    font-size: 12px;
  }
}

.c-search__btn {
  cursor: pointer;
  color: #707070;
  margin-right: 10px;
  position: absolute;
  right: 0;
  width: 20px;
  height: 40px;
  line-height: 40px;
}

.c-work {
  background: white;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
}

.c-work__main {
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .c-work__main {
    display: block;
  }
}

.c-work__left {
  flex: 1 1 40%;
  box-sizing: border-box;
}

.c-work__center {
  flex: 1 1 40%;
  box-sizing: border-box;
  border-left: 1px dashed #707070;
  border-right: 1px dashed #707070;
  margin: 0 10px;
  padding: 0 10px;
}

@media screen and (max-width: 425px) {
  .c-work__center {
    border-top: 1px dashed #707070;
    border-bottom: 1px dashed #707070;
    border-left: none;
    border-right: none;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
  }
}

.c-work__right {
  flex: 1 1 20%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .c-work__right--inner {
    display: flex;
    align-items: center;
  }
}

.c-work__title {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .c-work__title {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.c-work__title:hover {
  color: #51a1a2;
  cursor: pointer;
}

.c-work__category,
.c-work__price {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

@media screen and (max-width: 425px) {
  .c-work__category,
  .c-work__price {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.c-work__price > br {
  display: block;
}

@media screen and (max-width: 425px) {
  .c-work__price > br {
    display: none;
  }
}

.c-work__price--min,
.c-work__price--max {
  color: #fa5858;
  font-size: 20px;
}

.c-work__type {
  border-bottom: 2px solid #51a1a2;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
}

.c-work__count {
  font-size: 14px;
  text-align: center;
}

.c-work__count > span {
  font-size: 16px;
  font-weight: bold;
}

.c-work__tag {
  display: block;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.c-work__tag:last-child {
  margin-bottom: 0;
}

.c-work__tag:hover {
  color: white;
}

@media screen and (max-width: 425px) {
  .c-work__tag {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .c-work__tag:last-child {
    margin-right: 0;
  }
}

.c-work__tag--more:hover {
  background: #51a1a2;
  border: 1px solid #51a1a2;
}

.c-work__tag--isBookmarked {
  color: white;
  background: #f6993f;
  border: 1px solid #f6993f;
}

.c-work__tag--isBookmarked:hover {
  background: #f6993f;
  border: 1px solid #f6993f;
}

.c-work__tag--bookmark:hover {
  background: #f6993f;
  border: 1px solid #f6993f;
}

.c-work__tag--twitter:hover {
  background: #1DA1F2;
  border: 1px solid #1DA1F2;
}

.c-work__sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .c-work__sub {
    display: block;
  }
}

.c-work__name,
.c-work__date {
  font-size: 12px;
}

@media screen and (max-width: 425px) {
  .c-work__name,
  .c-work__date {
    text-align: right;
  }
}

@media screen and (max-width: 425px) {
  .c-work__name {
    margin-bottom: 10px;
  }
}

.c-work__comment {
  border-top: 1px dashed #707070;
  font-size: 14px;
  padding-top: 15px;
  margin: 15px 0;
}

.c-workList {
  width: 100%;
  margin-bottom: 80px;
}

@media screen and (max-width: 425px) {
  .c-workList {
    margin-bottom: 40px;
  }
}

.c-workList__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: white;
  margin-bottom: 40px;
  padding: 20px;
}

@media screen and (max-width: 425px) {
  .c-workList__header {
    display: block;
  }
}

.c-workList__title {
  color: #51a1a2;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 425px) {
  .c-workList__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .c-workList__info {
    font-size: 12px;
    text-align: right;
  }
}

.c-projectTab {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.c-projectTab__item {
  cursor: pointer;
  display: block;
  background: #ddd;
  box-sizing: border-box;
  border-right: 1px solid white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 25%;
}

.c-projectTab__item:last-child {
  border-right: none;
}

@media screen and (max-width: 768px) {
  .c-projectTab__item {
    width: 50%;
  }

  .c-projectTab__item:nth-child(1),
  .c-projectTab__item:nth-child(2) {
    border-bottom: 1px solid white;
  }

  .c-projectTab__item:nth-child(even) {
    border-right: none;
  }
}

.c-projectTab__item:hover {
  color: #51a1a2;
}

.c-projectTab__item.active {
  background: white;
  color: #333;
}

.c-projectTab__item.active:hover {
  color: #51a1a2;
}

.c-spMenu {
  display: none;
  transition: 0.6s;
}

@media screen and (max-width: 768px) {
  .c-spMenu {
    display: block;
  }
}

.c-spMenu__item {
  border-bottom: 1px solid #f5f5f5;
  display: block;
  margin-bottom: 20px;
  padding: 0 40px;
  text-align: right;
}

@media screen and (max-width: 425px) {
  .c-spMenu__item {
    margin-bottom: 15px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  .c-spMenu__link {
    font-size: 14px;
  }
}

.c-menuTrigger {
  box-sizing: border-box;
  display: none;
  height: 28px;
  width: 36px;
  position: relative;
  transition: 1s;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .c-menuTrigger {
    display: block;
  }
}

.c-menuTrigger__bar {
  background: #707070;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  height: 4px;
  position: absolute;
  left: 0;
  width: 100%;
}

.c-menuTrigger__bar:nth-of-type(1) {
  top: 0;
}

.c-menuTrigger__bar:nth-of-type(2) {
  top: 12px;
}

.c-menuTrigger__bar:nth-of-type(3) {
  bottom: 0;
}

.c-message {
  width: 70%;
  margin-bottom: 20px;
}

.c-message:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .c-message {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .c-message {
    width: 90%;
    margin-bottom: 15px;
  }
}

.c-message--other {
  margin-left: 0;
  margin-right: auto;
}

.c-message--myself {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

.c-message__content {
  padding: 10px 20px;
  margin-bottom: 5px;
  display: inline-block;
  text-align: left;
}

.c-message__content:hover {
  opacity: 0.8;
}

.c-message__content--other {
  background: rgba(81, 161, 162, 0.3);
  border-radius: 20px 20px 20px 0;
}

.c-message__content--myself {
  background: rgba(250, 88, 88, 0.3);
  border-radius: 20px 20px 0 20px;
}

@media screen and (max-width: 425px) {
  .c-message__content {
    font-size: 14px;
    padding: 10px 15px;
  }
}

.c-message__date {
  font-size: 14px;
}

.c-message__date--myself {
  text-align: right;
}

@media screen and (max-width: 425px) {
  .c-message__date {
    font-size: 12px;
  }
}

.c-messageBoard {
  background: white;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  transition: 0.3s;
}

@media screen and (max-width: 425px) {
  .c-messageBoard {
    padding: 10px;
  }
}

.c-messageBoard__header {
  margin-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid #51a1a2;
}

.c-messageBoard__body {
  display: flex;
}

.c-messageBoard__title {
  overflow: hidden;
}

.c-messageBoard__title > h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 425px) {
  .c-messageBoard__title {
    font-size: 14px;
  }
}

.c-messageBoard__subtitle {
  font-size: 12px;
  margin-bottom: 10px;
}

.c-messageBoard__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  flex: 0 0 auto;
}

.c-messageBoard__main {
  flex: 1 1 auto;
  overflow: hidden;
  margin-right: 10px;
}

@media screen and (max-width: 425px) {
  .c-messageBoard__main {
    font-size: 14px;
  }
}

.c-messageBoard__name {
  margin-bottom: 10px;
}

.c-messageBoard__content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  .c-messageBoard__content {
    font-size: 12px;
  }
}

.c-messageBoard__date {
  flex: 0 1 auto;
  font-size: 14px;
}

@media screen and (max-width: 425px) {
  .c-messageBoard__date {
    font-size: 12px;
  }
}

.c-messageBoard__list {
  margin-bottom: 40px;
}

.c-loader {
  transition: 0.6s;
  text-align: center;
  font-size: 20px;
  display: inline-block;
}

.c-pagination {
  margin: 20px;
  text-align: center;
}

.c-pagination__item {
  display: inline-block;
  background: white;
  margin: 0;
  color: #51a1a2;
  border: 1px solid #eee;
}

.c-pagination__item.isActive {
  color: white;
  background: #51a1a2;
}

.c-pagination__item.isActive:hover {
  color: white;
  background: #51a1a2;
  opacity: 0.8;
}

.c-pagination__link {
  display: block;
  padding: 10px;
}

.p-hero {
  box-sizing: border-box;
  background-image: url(/images/top-img-2.jpg?bd340779fbbd1aa662693220c9774ef0);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
  width: 100%;
  height: 500px;
  position: relative;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .p-hero {
    height: 450px;
  }
}

@media screen and (max-width: 425px) {
  .p-hero {
    height: 400px;
    padding: 10px;
  }
}

.p-hero__text {
  text-align: center;
  margin-bottom: 15px;
}

.p-hero__text--em {
  font-size: 24px;
}

.p-hero__text--em > span {
  font-size: 40px;
  font-weight: bold;
}

.p-hero__text--right {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 0 10px;
  box-sizing: border-box;
  border: 2px solid #555;
  background: white;
}

.p-hero__text--right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid white;
  z-index: 2;
}

.p-hero__text--right:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.p-hero__br {
  display: none;
}

@media screen and (max-width: 425px) {
  .p-hero__br {
    display: block;
  }
}

.p-band {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .p-band {
    display: block;
    margin: 20px 0;
  }
}

.p-band__text {
  font-size: 24px;
  color: white;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .p-band__text {
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.p-band__btn {
  border: 2px solid white;
  font-size: 20px;
  padding: 10px;
}

.p-band__btn:hover {
  background: white;
  color: #51a1a2;
}

.p-desc {
  background: white;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 20px;
  width: 33.3%;
}

.p-desc__container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .p-desc__container {
    display: block;
  }
}

.p-desc:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .p-desc {
    margin-bottom: 20px;
    width: 100%;
  }
}

.p-desc__img {
  width: 100%;
  height: 60px;
  background: #fff;
}

.p-desc__title {
  font-size: 24px;
  margin-bottom: 30px;
}

@media screen and (max-width: 425px) {
  .p-desc__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.p-desc__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 2px solid #51a1a2;
}

@media screen and (max-width: 425px) {
  .p-desc__subtitle {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.p-desc__text {
  font-size: 14px;
  margin-bottom: 40px;
}

.p-desc__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 425px) {
  .p-desc__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.p-profile {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 40px;
}

.p-profile__icon {
  margin: 0 auto 15px auto;
  height: 120px;
  width: 120px;
}

@media screen and (max-width: 768px) {
  .p-profile__icon {
    height: 90px;
    width: 90px;
  }
}

.p-profile__img {
  display: block;
  border: 2px solid #707070;
  border-radius: 50%;
}

.p-profile__name {
  font-size: 14px;
  text-align: center;
}

.p-projectDetail {
  background: white;
  padding: 40px;
}

@media screen and (max-width: 425px) {
  .p-projectDetail {
    padding: 20px;
  }
}

.p-projectDetail__title {
  font-size: 20px;
  margin-bottom: 25px;
}

@media screen and (max-width: 425px) {
  .p-projectDetail__title {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.p-projectDetail__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 10px;
}

.p-projectDetail__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .p-projectDetail__body {
    display: block;
  }
}

.p-projectDetail__table {
  font-size: 14px;
  margin-bottom: 40px;
  width: 60%;
}

@media screen and (max-width: 425px) {
  .p-projectDetail__table {
    font-size: 12px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.p-projectDetail__head,
.p-projectDetail__data {
  border-bottom: 1px solid #707070;
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .p-projectDetail__head {
    padding-left: 0;
    padding-right: 5px;
  }
}

@media screen and (max-width: 425px) {
  .p-projectDetail__data {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-projectDetail__action {
  margin-bottom: 20px;
}

.p-projectDetail__tag {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 5px;
  transition: 0.3s;
  margin-right: 10px;
}

.p-projectDetail__tag:last-child {
  margin-right: 0;
}

.p-projectDetail__tag:hover {
  cursor: pointer;
}

.p-projectDetail__tag--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
  .p-projectDetail__tag--container {
    justify-content: start;
  }
}

.p-projectDetail__tag--like:hover {
  background: #f6993f;
  border: 1px solid #f6993f;
  color: white;
}

.p-projectDetail__tag--twitter:hover {
  background: #1DA1F2;
  border: 1px solid #1DA1F2;
  color: white;
}

.p-projectDetail__content {
  background: #f5f5f5;
  padding: 20px;
}

@media screen and (max-width: 425px) {
  .p-projectDetail__content {
    font-size: 14px;
    padding: 10px;
  }
}

.p-messageDetail {
  background: white;
  margin-bottom: 40px;
  padding: 20px;
}

.p-messageDetail__header {
  margin-bottom: 20px;
}

.p-messageDetail__title {
  color: #51a1a2;
  font-size: 20px;
  font-weight: bold;
}

.p-messageDetail__title > span {
  color: #333;
  font-size: 12px;
  margin-left: 5px;
}

.p-messageDetail__body {
  margin-bottom: 20px;
  max-height: 280px;
  overflow: scroll;
  background: #f5f5f5;
  padding: 20px;
}

@media screen and (max-width: 425px) {
  .p-messageDetail__body {
    padding: 10px;
    max-height: 200px;
  }
}

.u-mb0 {
  margin-bottom: 0;
}

.u-icon {
  color: #333;
  cursor: pointer;
  display: inline-block;
}

