.l-header {
  box-sizing: border-box;
  background: white;
  width: 100%;
  height: $height_header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $space_3l;
  position: fixed;
  top: 0;
  right: 0;
  @include mq() {
    padding: 0 $space_default;
  }
  &--left {
    display: flex;
    align-items: center;
    @include mq('md') {
      width: 100%;
    }
  }
  &__title {
    font-size: 40px;
    margin-right: $space_default;
    &:hover {
      color: $color_default;
    }
    @include mq('md') {
      font-size: $font-size_3l;
    }
    @include mq() {
      font-size: $font-size_2l;
      margin-right: $space_s;
    }
  }
}
