.l-nav {
  @include mq('md') {
    background: rgba($color: #fff, $alpha: 0.9);
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 80px;
    right: -70vw;
    z-index: 2;
    transition: $time_m;
    &.active {
      transform: translateX(-100%);
    }
  }
}